<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1A68E431C3131D7009729BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A68E501C313214009729BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A68E621C3132C4009729BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1D77D641AF84A35008E4D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1D77D6E1AF84A35008E4D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1D77E6B1AF85704008E4D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1D77E751AF85705008E4D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F68E841AD9E587007FF919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F68E971AD9E587007FF919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
